@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda:wght@600&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

$bgColor: #1A1A21
$formBg: #2B2B36
$white : #ffff
$gold : #F18706

body    
    height: 100vh
    background-color: $bgColor
    color: $white
    font-family: 'Comfortaa', cursive
    display: flex
    flex-direction: column

.container
    height: 100%

.login-signup-container
    height: 100%
    display: grid
    justify-content:  center
    align-items: center

.logo-container
    cursor: pointer

#root
    height: 100%

.form
    height: 35rem
    background-color: #2B2B36
    border-top-left-radius: 25px
    border-top-right-radius: 25px
    display: grid

    .title-underline
        display: flex
        justify-content: center
        width: 15rem

    .login-title, .signup-title
        padding-bottom: 10px
        font-size: 2.2rem
        text-align: center

    .form-container

        display: flex
        justify-content: center

    .reset-password
        text-align: center
        cursor: pointer
        transition: .15s ease-in
        &:hover
            color: $gold
            text-decoration: underline

.login-container, .signup-container
    form
        display: grid
        justify-content: center
        label
            display: block
            input
                width: 22rem
                height: 2rem
                border-radius: 5px
                border: 0
                outline: 0
                text-indent: 10px
        button      
            background-color: $gold
            border: 0
            color: $white
            width: 100% 
            height: 2.5rem
            border-radius: 15px
            margin-top: 20px
            cursor: pointer


.here-link
    color: $gold
    text-decoration: underline
    cursor: pointer

.error-message
    color: red
    padding-top: 20px
    text-align: center

.image-container
    display: flex
    justify-content: center
    width: 100%

.account-container
    text-align: center

.password-visibility
    position: absolute
    right: 10px
    top: 50% 
    transform: translateY(-50%)
    cursor: pointer
    height: 25px

input[type="password"]
    flex: 1
    padding: 8px

.password-input 
    position: relative

.title-container
    display: flex
    justify-content: center
    padding-top: 35px
    img 
        height: 10rem

.other-login-options
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px
    height: 8rem
    background-color: $formBg
    display: grid
    justify-content: center

    h3  
        padding-top: 20px


    .providers
        display: flex
        justify-content: center
        button
            padding: 5px
            background: transparent
            border: 0
            cursor: pointer
            margin-top: -20%
            img
                transition: 0.3s ease
                &:hover
                    transform: translateY(-5px)

// Title page

.recipes-page-container
    display: grid
    flex: 1
    grid-template-rows: 0fr 5.333fr 1fr
    grid-template-columns: 0.5fr 1fr 1fr
    gap: px 0px
    grid-template-areas: 'navbar navbar navbar' 'aside main main' 'aside main main'
                        

.navbar
    display: flex
    padding: 20px
    justify-content: space-between
    background-color: $formBg
    align-items: center
    grid-area: navbar
    height: 8rem
    img
        height: 5rem
    .profile-container
        display: flex
        align-items: center
        cursor: pointer
        text-decoration: none   
        color: $white
        p
            padding-left: 10px
        img 
            height: 3rem

.search-box
    width: 30rem
    padding: 10px
    display: flex
    align-items: center
    height: 50px
    border-bottom: 1px solid $white

.search-box 
    input
        flex: 1
        border: 0
        outline: 0
        background: transparent
        font-size: 20px
        color: $white

.search-box 
    button 
        img
            height: 25px

.search-box 
    button
        padding: 10px 12px
        border: 0
        outline: 0
        background: transparent
        cursor: pointer

.main
    grid-area: main

.aside
    grid-area: aside
    background-color: $formBg
    width: 23rem
    min-height: 100% // Set a minimum height for the sidebar

    .aside-container
        justify-content: center
        display: grid
        
        h4
            padding: 40px 0px 20px 25px
            font-size: 1.4rem
            opacity: 0.7

        .home-container, .favorite-container, .recipes-container
            padding: 10px 0px 10px 55px
            display: flex   
            align-items: center
            font-size: 1.4rem
            cursor: pointer
            width: 21rem
            text-decoration: none
            color: $white
            h6  
                padding: 5px 0px 0px 20px
            &.active
                background-color: $gold

        .button-container
            position: absolute
            bottom: 0
            padding: 25px
            button
                cursor: pointer
                padding: 0.5em 1em
                border: 1px solid $gold
                position: relative
                overflow: hidden
                background-color: transparent
                text-align: center
                text-transform: uppercase
                font-size: 16px
                transition: .3s
                z-index: 1
                color: $gold
                &::before
                    content: ''
                    width: 0
                    height: 300%
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%) rotate(45deg)
                    background: $gold
                    transition: .5s ease
                    display: block
                    z-index: -1
                
                &:hover
                    color: $white
                    &::before
                        width: 105%


.welcome-title
    padding: 30px
    font-size:1rem

// reset password

.reset-password-container
    padding: 50px
    .back-button
        padding-bottom: 15px
    h1
        font-size: 3rem
        padding-bottom: 20px
    .email
        label       
            font-size: 1.5rem
            input
                width: 40rem
                height: 1.5rem
.button
    cursor: pointer
    padding: 0.5em 1em
    border: 1px solid $gold
    position: relative
    overflow: hidden
    background-color: transparent
    text-align: center
    text-transform: uppercase
    font-size: 16px
    transition: .3s
    z-index: 1
    color: $gold
    margin-top: 20px
    &::before
        content: ''
        width: 0
        height: 300%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(45deg)
        background: $gold
        transition: .5s ease
        display: block
        z-index: -1
    
    &:hover
        color: $white
        &::before
            width: 105%

// profile

.main
    padding: 10px
    h1, h3
        padding: 30px

    .title-text
        display: flex
        align-items: center
        justify-content: space-between
        h4
            padding-right: 20px
            cursor: pointer
            transition: .15s ease-in
            &:hover
                color: $gold
                text-decoration: underline

    .default-user-info
        padding: 30px
        display: flex   
        align-items: center
        img
            height: 12rem
        .title-user-info
            padding-left: 30px
            h2
                width: 30rem
            p
                opacity: 0.8
                padding-top: 5px

// custom loader

.loader-container
    display: flex
    justify-content: center
    align-items: center
    height: 100%

.loader 
  width: 5rem
  height: 5rem
  animation: spin988 2s linear infinite

.loader .circle 
  width: 2rem
  height: 2rem
  background-color: $gold
  border-radius: 50%
  position: absolute

.loader .circle:nth-child(1) 
  top: 0
  left: 0


.loader .circle:nth-child(2) 
  top: 0
  right: 0


.loader .circle:nth-child(3) 
  bottom: 0
  left: 0


.loader .circle:nth-child(4) 
  bottom: 0
  right: 0

@keyframes spin988 
  0% 
    transform: scale(1) rotate(0)
  
  20%, 25% 
    transform: scale(1.3) rotate(90deg)
  
  45%, 50% 
    transform: scale(1) rotate(180deg)
  
  70%, 75% 
    transform: scale(1.3) rotate(270deg)
  
  95%, 100% 
    transform: scale(1) rotate(360deg)
  
// custom profile skeleton loader
.shimmer 
    position: relative
    background: #3a3a3a
    background-image: linear-gradient(to right, #3a3a3a 0%, #3f3f3f 10%, #4a4a4a 20%, #3f3f3f 30%, #3a3a3a 50%, #3a3a3a 100%)
    background-repeat: no-repeat
    background-size: 100% 100%
    -webkit-animation-duration: 1s
    -webkit-animation-fill-mode: forwards
    -webkit-animation-iteration-count: infinite
    -webkit-animation-name: shimmer
    -webkit-animation-timing-function: ease-in-out

@-webkit-keyframes shimmer 
  0% 
    background-position: -400px 0

  100% 
    background-position: 400px 0
  
#container 
    padding: 20px
    width: 50%
    height: 50%
    display: flex
    justify-content: center
    align-items: center

    #square 
        height: 12rem
        width: 12rem

    #content 
        flex: 1
        height: 150px
        width: 100%
        padding: 0.5rem 1rem 0 1rem
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end

        #content-title 
            width: 100%
            height: 30px
            margin-bottom: 1rem

        #content-desc 
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: flex-end

            .line 
                width: 100%
                height: 10px

// single recipes

.recipe-image
    height: 2rem

// show more link
.show-more-link
    position: absolute
    right: 0
    padding: 20px
    a   
        color: $gold

// recipes cards

.recipe-card-container
    display: grid
    grid-template-columns: repeat( auto-fit, minmax(300px, 0.2fr) )
    gap: 50px
    padding: 60px 0px 0px 0px
    .recipe-card
        background-color: $formBg
        width: 18vw
        a
            text-decoration: none
            .recipe-info
                img     
                    height: 13rem
                    width: 100%
                h2     
                    color: white
                    font-size: 1.4vw
        &:hover
            